<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ship Locations!</title>
    <link rel="stylesheet" href="game.css">
</head>

<body>





    <div id="app">
        <button class="btn btn-lg btn-primary btn-block" @click="logOut">Log out</button>
        <button @click="goBack()">go back</button> {{ message }}

        <p>{{player1}} (you)</p>
        <p>vs</p>
        <p>{{player2}}</p>



        <div class="nextShip">
            <div class="div1">
                <img class="boat boat-0" @click="turnShip1('drag1')" id="drag1" src="boat.jpg" draggable="true" ondragstart="drag(event)">
            </div>
            <div class="div1">
                <img class="boat boat-1" id="drag2" src="boat.jpg">
            </div>
        </div>

        <div class="nextShip">
            <div class="div1">
                <img class="destroyer destroyer-0" @click="turnShip1('destroyer1')" id="destroyer1" src="destroyer.jpg" draggable="true" ondragstart="drag(event)">
            </div>
            <div class="div1">
                <img class="destroyer destroyer-1" id="destroyer2" src="destroyer.jpg">
            </div>
            <div class="div1">
                <img class="destroyer destroyer-2" id="destroyer3" src="destroyer.jpg">
            </div>
        </div>

        <div class="nextShip">
            <div class="div1">
                <img class="submarine submarine-0" @click="turnShip1('submarine1')" id="submarine1" src="submarine.jpg" draggable="true" ondragstart="drag(event)">
            </div>
            <div class="div1">
                <img class="submarine submarine-1" id="submarine2" src="submarine.jpg">
            </div>
            <div class="div1">
                <img class="submarine submarine-2" id="submarine3" src="submarine.jpg">
            </div>
        </div>



        <div class="nextShip">
            <div class="div1">
                <img class="battleship battleship-0" @click="turnShip1('ship1')" id="ship1" src="battleShip.jpg" draggable="true" ondragstart="drag(event)">
            </div>

            <div class="div1">
                <img class="battleship battleship-1" id="ship2" src="battleShip.jpg">
            </div>
            <div class="div1">
                <img class="battleship battleship-2" id="ship3" src="battleShip.jpg">
            </div>
            <div class="div1">
                <img class="battleship battleship-3" id="ship4" src="battleShip.jpg">
            </div>
        </div>

        <div class="nextShip">
            <div class="div1">
                <img class="aircraftcarrier aircraftcarrier-0" @click="turnShip1('ac1')" id="ac1" src="aircraftcarrier.jpg" draggable="true" ondragstart="drag(event)">
            </div>

            <div class="div1">
                <img class="aircraftcarrier aircraftcarrier-1" id="ac2" src="aircraftcarrier.jpg">
            </div>
            <div class="div1">
                <img class="aircraftcarrier aircraftcarrier-2" id="ac3" src="aircraftcarrier.jpg">
            </div>
            <div class="div1">
                <img class="aircraftcarrier aircraftcarrier-3" id="ac4" src="aircraftcarrier.jpg">
            </div>
            <div class="div1">
                <img class="aircraftcarrier aircraftcarrier-4" id="ac5" src="aircraftcarrier.jpg">
            </div>

        </div>
                <p>salvo turn: {{salvoTurn}}</p>

<p class="waiting" v-if="salvoCreated == true"> waiting for other player</p>
       
<div class="twoGrids" v-if="salvoCreated == false">
       
        <div class="grid" v-if="!shipsCreated" >
        <p>Your field(ship grid)</p>

<!--        <button @click="showPosition">show position</button>-->

        <table id="salvoGrid">
            <tr>
                <th></th>
                <th v-for="n in 10" :id="n">{{n}}</th>
            </tr>

            <tr v-for="n in 10">
                <td :id="String.fromCharCode(64 + n )">{{String.fromCharCode(64 + n )}}</td>
                <td v-for="x in 10" :id="String.fromCharCode(64 + n ) + x" class="target empty" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <!--                {{String.fromCharCode(64 + n )}}{{x}}-->
                </td>
            </tr>
        </table>
<button @click="postShips()"> post ship</button>

</div>


<div class="salvoGrid" v-if="shipsCreated">
       
        <p>Opponents field(salvo grid)</p>
        
        <table >
            <tr>
                <th></th>
                <th v-for="n in 10" :id="'s'+n">{{n}}</th>
            </tr>

            <tr v-for="n in 10">
                <td :id="'s'+String.fromCharCode(64 + n )">{{String.fromCharCode(64 + n )}}</td>
                <td @click="salvoShots('s'+String.fromCharCode(64 + n ) + x)" v-for="x in 10" :id="'s'+String.fromCharCode(64 + n ) + x">{{String.fromCharCode(64 + n )}}{{x}}</td>
            </tr>
        </table>
            <button @click="postSalvo()"> post salvo</button>

    </div>
      </div>
       
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">


    </script>

    <script src="game.js"></script>
</body>

</html>
