td, th{
    border: solid black;
    height: 20px;
    width: 20px;
}

.purple{
    background-color: purple;
}
.green{
    background-color: green;
}

#player1, #player2{
    background-color: green;
}