td, th, .div1{
    border: solid black;
    height: 30px;
    width: 30px;
    text-align: center;
    margin: 2px;
    padding: 0;
    border-color: white;

}

.ship{
    background-color: purple;
}
.opponentSalvo{
    background-color: orange;
}
.salvo{
    background-color: green;
}
.youGotHit{
    background-color: red;
}


#player1, #player2{
    background-color: green;
}
img{
    height: 25px;
    width: 25px;
    margin: 0;
    object-position: center;
}

}
table{
        border-spacing: 0;
}

#drag1, #ship1{
    border: dashed red;
}
.nextShip{
    display: inline-block;
}

.salvoLocation {
    background-color: green;
}

.lastTurn {
    background-color: orange;
}
body{
    background-image: url("battleship-wallpapers-29415-4028436.jpg");
    background-size: cover;
    color: white;
}
